<% @gallery = Galleries[@route] %>
<div class="w3-container">
<h2><%= @gallery.name %></h2>
<p><%= @gallery.description %></p>
</div>

<div class="w3-row">
  
  
  <% @gallery.pictures.each_key do |id| %>    
    <div class="w3-col s3 w3-container w3-card-4">
    <a href="javascript:void(0)" class="w3-hover-opacity" onclick="openImg('<%= id %>');">
      <img src='<%= @gallery.pictures[id].url %>' style="width:100%">
    </a>
    <p><%= @gallery.pictures[id].caption %></p>
    </div>
  <% end %>

  
</div>
<br>
<% @gallery.pictures.each_key do |id| %>
  <div id="<%= id %>" class="picture w3-display-container w3-center w3-margin">
    <img src='<%= @gallery.pictures[id].url  %>' alt="catedral" style="width:80% height:80%" class="w3-padding">
    <span onclick="this.parentElement.style.display='none'"
    class="w3-display-topright w3-closebtn w3-padding-large w3-text-white">&times;</span>
    <div class="w3-display-bottommiddle w3-container w3-padding w3-text-white"><%= @gallery.pictures[id].caption %></div>

  </div>
<% end %>





