<% @gallery = Galleries[@route] %>
<div class="w3-container">
<h2><%= @gallery.name %></h2>
<p><%= @gallery.description %></p>
</div>

<div class="w3-row">
  
  <% @slideIndex = 1 %>
  <% @gallery.pictures.each_key do |id| %>    
    <div class="w3-col s3 w3-container w3-card-4">
    <a href="javascript:void(0)" class="w3-hover-opacity" onclick="document.getElementById('id01').style.display='block'; setSlideIndex(<%= @slideIndex %>);">
      <img src='<%= @gallery.pictures[id].url %>' style="width:100%">
    </a>
    <p><%= @gallery.pictures[id].caption %></p>
    </div>
    <% @slideIndex += 1 %>
  <% end %>

  
</div>
<br>

<!-- The Modal -->
<div id="id01" class="w3-modal" >
  
    <div class="w3-container">
      <span onclick="document.getElementById('id01').style.display='none'" class="w3-closebtn w3-hover-red w3-container w3-padding-16 w3-display-topright">&times;</span>
      <div class="w3-content" style="position:relative">
        <% @gallery.pictures.each do |id, picture| %>
          <img class="mySlides" src="<%= picture.url %> " style="width:100%">
        <% end %>
        

      </div>
      <a class="w3-btn-floating" style="position:absolute;top:45%;left:0" onclick="plusDivs(-1)">❮</a>
      <a class="w3-btn-floating" style="position:absolute;top:45%;right:0" onclick="plusDivs(1)">❯</a>

    </div>
  
</div>






